.flip-countdown {
  font-family: "Knewave", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

.flip-countdown
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec
  .card__top,
.flip-countdown
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec
  .card__bottom,
.flip-countdown
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec
  .card__back::before,
.flip-countdown
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec
  .card__back::after {
  color: black !important;
}

.flip-countdown.size-medium
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec {
  font-size: 2.5rem !important;  
}

.flip-countdown.size-medium .flip-countdown-piece .flip-countdown-title {
  font-size: 15px !important;
}
