#mobileGTranslate > #gt_float_wrapper {
  left: 40px !important;
  bottom: 150px !important;
}
#mobileGTranslate .gt_float_switcher .gt-selected {
  background-color: black !important;
}

#mobileGTranslate .gt_float_switcher .gt-selected .gt-current-lang {
  padding: 10px 0px !important;
}
