.gt_float_switcher {
  background-color: black !important;
  color: white !important;
}

.gt_float_switcher .gt-selected {
  background-color: black !important;
}

.gt_float_switcher .gt-selected .gt-current-lang {
  color: white !important;
}

.gt_float_switcher .gt_options a {
  color: white !important;
}
